* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-image: url('wood_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.calculator {
  background-color: #1a1a1a;
  width: 320px;
  max-width: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.7);
}